/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  #modal-btn{
    transition: 0.3s;
  }

  #modal-btn:hover{
    padding: 10px;
    box-shadow: 1px 1px 15px 1px white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content-info{
    display: grid;
    color: #303841;
    margin: 5px;
    padding: 5px;
    height: 15%;
  }

 .search-bar {
    width: 25%;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.equipment-item{
    display: inline-block;
    margin: 20px;
    padding: 5px;
}

.item-category-button{
    color: white;
    display: block;
    padding: 5px;
    border: 1px solid #303841;
    background-color: #303841;
    border-radius: 5px;
    transition: 0.3s;
}

.item-category-button:hover{
    padding: 10px;
    box-shadow: 1px 1px 15px 1px #D72323;
    transition: 0.3s;
    cursor: pointer;
}

.item-category-button--active + .item-category-content {
    display: block;
  }
  
.item-category-button--active{
    background-color: #D72323;
}

.item-category-button--active:hover {
    box-shadow: 1px 1px 15px 1px #303841;
  }

.item-category-content{
    padding: 15px;
    display: grid;
    overflow: auto;
    background-color: #303841c0;
    height: 35vh;
}

#root{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

#item-titles{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.item-headers{
    display: block;
    color: white;
    padding: 5px;
}

.item-details{
    display: block;
    color: white;
    padding: 5px;
}
