.form-container{
    color: #EEEEEE;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0;
    padding: 2.5%;
    background-color: #444444;
    width: 30vw;
    
}

.form-container input, select{
    font-size: 36px;
    color: #303841;
    background-color: #EEEEEE;
    border: 1px solid black;
    border-radius: 10px;
}

.form-wrapper{
    font-size: 36px;
    /* text-align: center; */
}

input[type=number]{
    width: 12%;
}

.monster-name-wrapper{
    width: 70%;
}

#shield{
    transform: scale(2);
    height: 1.5rem;
}

.form-wrapper > * {
    margin: 1%;
}

.content-container-2{
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.form-container form{
    display: none;
    overflow: hidden;
    margin: 20px;
}

.collapsible{
    font-size: 24px; 
    border-radius: 10px;
    width: 50%;
    background-color: #D72323;
}

.collapsible:hover {
    background-color: #27a501;
    /* color: #303841; */
  }

.active{
    background-color: #D72323;
  } 

.active:hover{
    background-color: #27a501;
  }

  .sec-title{
    background-color: rgba(137, 4, 4, 0.358);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
  }