.content-display{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-container{
    color: #303841;
    /* border: 1px solid #303841; */
    border-radius: 10px;
    margin: 10px;
    padding: 2.5%;
    /* background-color: #444444;    */
}

.progress-button{
    display: flex;
    justify-content: right;
}

.next-button{
    background: #303841;
    font-size: 24px;
    width: 15%;
    border-radius: 10px;
}

.slide-one{

}

.form-wrapper{
    font-size: 24px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 5px;
    
}
.form-wrapper input, select{
    font-size: 24px;
    color: #303841;
    background-color: #EEEEEE;
    border: 1px solid black;
    border-radius: 10px;
}

input[type=number]{
    width: 65px;
}

.form-wrapper > * {
    margin: 1%;
}

.content-container-2{
    display: flex;
    align-items: flex-start;
    text-align: left;
}


  /* Display Stats */

.display-stats-container{
    grid-column: 2;
    text-align: center;
    /* border: 1px solid #303841; */
    margin: 10px;
    font-size: 24px;
    /* background-color: #444444; */
    color: #303841;
    border-radius: 10px;
}

.display-stats-container li{
    display: block;
    text-align: left;
}

