html,
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

body::-webkit-scrollbar{
  background-color:white;
}
body::-webkit-scrollbar-thumb{
  background-color: #333;
}
body::-webkit-scrollbar-corner{
  background-color: #333;
}

body::-webkit-scrollbar-button{
  background-color: #d72323;
}

/* NAVBAR */

.top-container {
  height: 100%;
  width: 100%;
  background-image: url("/home/topshelf/repos/dndgenerate/img/galazy_dice-modified.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  color: #333;
  margin: auto;
  margin-bottom: 15vh;
  padding: 0;
  place-items: center;

  /* For Sticky navbar */
  /* position: fixed;
     background-color: rgba(51, 51, 51, 1);
    width: 100%;
    z-index: 1; */
}

.navbar-img {
  font-size: 48px;
  color: white;
}

.navbar-links {
  position: inline-block;
  align-items: center;
}

.navbar-links ul {
  margin: 10px;
  padding: 0;
  display: flex;
  font-size: 36px;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #d72323;
  transition: 0.3s;
}

.navbar-links li a:hover {
  color: white;
}

/* CONTENT SECTION 1*/

.content-container-1 {
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  padding: 0;
}

.content-background {
  position: absolute;
  width: 100%;
  height: auto;
}

.content-title-1 {
  position: relative;
  display: inline-block;
  text-align: center;
  color: white;
  margin: 10px;
  padding: 30px;
  width: fit-content;
  border: solid 1px white;
  font-size: 60px;
  background-color: rgba(0, 0, 0, 0.85);
}

/* CTA Buttons */

.cta-button-container {
  text-align: center;
  display: flex;
  margin: 10px;
  justify-content: center;
}

.cta-button {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  width: 30%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid white;
  color: #333;
  font-size: 48px;
}

.cta-button:hover {
  background-color: #d72323;
  border: 1px solid #d72323;
  color: white;
  transition: 0.3s;
}

.content-text {
  color: #333;
  font-size: 18px;
  position: relative;
}

/* CONTENT SECTION 2 */

.content-container-2 {
  text-align: center;
  display: block;
  position: relative;
  height: 40%;
  padding: 10%;
  margin-bottom: 30vh;
  background: white;
  color: #333;
}

.content-title-2 {
  display: inline-block;
  text-align: center;
  color: #333;
  margin: 10px;
  padding: 10px;
  width: fit-content;
  border: solid 1px;
  box-shadow: 5px 10px 5px;
  font-size: 60px;
}

.content-text {
  color: #333;
  font-size: 36px;
  padding: 10px;
}

/* FOOTER SECTION */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 5%;
  margin-bottom: 0px;
}

.social-ul {
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0px;
}

.social-li {
  border: none;
  list-style-type: none;
  display: inline-block;
  font-size: 2.5em;
  padding-left: 30px;
}

.social-li a:hover {
  color: red;
  border-radius: 5%;
  font-weight: bold;
}
